

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

#slide5:checked ~ .slides {
    transform: translateX(-400%);
}

#slide6:checked ~ .slides {
    transform: translateX(-500%);
}

#slide7:checked ~ .slides {
    transform: translateX(-600%);
}

#slide8:checked ~ .slides {
    transform: translateX(-700%);
}

#slide9:checked ~ .slides {
    transform: translateX(-800%);
}

#slide10:checked ~ .slides {
    transform: translateX(-900%);
}

#slide11:checked ~ .slides {
    transform: translateX(-1000%);
}

#slide12:checked ~ .slides {
    transform: translateX(-1100%);
}

#slide13:checked ~ .slides {
    transform: translateX(-1200%);
}

#slide14:checked ~ .slides {
    transform: translateX(-1300%);
}

#slide15:checked ~ .slides {
    transform: translateX(-1400%);
}

#slide16:checked ~ .slides {
    transform: translateX(-1500%);
}

#slide17:checked ~ .slides {
    transform: translateX(-1600%);
}

#slide18:checked ~ .slides {
    transform: translateX(-1700%);
}

#slide19:checked ~ .slides {
    transform: translateX(-1800%);
}

#slide20:checked ~ .slides {
    transform: translateX(-1900%);
}

#slide21:checked ~ .slides {
    transform: translateX(-2000%);
}

#slide22:checked ~ .slides {
    transform: translateX(-2100%);
}

#slide23:checked ~ .slides {
    transform: translateX(-2200%);
}

#slide24:checked ~ .slides {
    transform: translateX(-2300%);
}

#slide25:checked ~ .slides {
    transform: translateX(-2400%);
}

#slide26:checked ~ .slides {
    transform: translateX(-2500%);
}





#slidea1:checked ~ .slides {
    transform: translateX(0);
}

#slidea2:checked ~ .slides {
    transform: translateX(-100%);
}

#slidea3:checked ~ .slides {
    transform: translateX(-200%);
}

#slidea4:checked ~ .slides {
    transform: translateX(-300%);
}

#slidea5:checked ~ .slides {
    transform: translateX(-400%);
}

#slidea6:checked ~ .slides {
    transform: translateX(-500%);
}

#slidea7:checked ~ .slides {
    transform: translateX(-600%);
}

#slidea8:checked ~ .slides {
    transform: translateX(-700%);
}

#slidea9:checked ~ .slides {
    transform: translateX(-800%);
}

#slidea10:checked ~ .slides {
    transform: translateX(-900%);
}

#slidea11:checked ~ .slides {
    transform: translateX(-1000%);
}

#slidea12:checked ~ .slides {
    transform: translateX(-1100%);
}

#slidea13:checked ~ .slides {
    transform: translateX(-1200%);
}

#slidea14:checked ~ .slides {
    transform: translateX(-1300%);
}

#slidea15:checked ~ .slides {
    transform: translateX(-1400%);
}

#slidea16:checked ~ .slides {
    transform: translateX(-1500%);
}

#slidea17:checked ~ .slides {
    transform: translateX(-1600%);
}

#slidea18:checked ~ .slides {
    transform: translateX(-1700%);
}

#slidea19:checked ~ .slides {
    transform: translateX(-1800%);
}

#slidea20:checked ~ .slides {
    transform: translateX(-1900%);
}

#slidea21:checked ~ .slides {
    transform: translateX(-2000%);
}

#slidea22:checked ~ .slides {
    transform: translateX(-2100%);
}

#slidea23:checked ~ .slides {
    transform: translateX(-2200%);
}






#slideb1:checked ~ .slides {
    transform: translateX(0);
}

#slideb2:checked ~ .slides {
    transform: translateX(-100%);
}

#slideb3:checked ~ .slides {
    transform: translateX(-200%);
}

#slideb4:checked ~ .slides {
    transform: translateX(-300%);
}

#slideb5:checked ~ .slides {
    transform: translateX(-400%);
}

#slideb6:checked ~ .slides {
    transform: translateX(-500%);
}

#slideb7:checked ~ .slides {
    transform: translateX(-600%);
}

#slideb8:checked ~ .slides {
    transform: translateX(-700%);
}

#slideb9:checked ~ .slides {
    transform: translateX(-800%);
}



#slidebb1:checked ~ .slides {
    transform: translateX(0);
}

#slidebb2:checked ~ .slides {
    transform: translateX(-100%);
}

#slidebb3:checked ~ .slides {
    transform: translateX(-200%);
}

#slidebb4:checked ~ .slides {
    transform: translateX(-300%);
}

#slidebb5:checked ~ .slides {
    transform: translateX(-400%);
}

#slidebb6:checked ~ .slides {
    transform: translateX(-500%);
}

#slidebb7:checked ~ .slides {
    transform: translateX(-600%);
}

#slidebb8:checked ~ .slides {
    transform: translateX(-700%);
}

#slidebb9:checked ~ .slides {
    transform: translateX(-800%);
}


#slidebbb1:checked ~ .slides {
    transform: translateX(0);
}

#slidebbb2:checked ~ .slides {
    transform: translateX(-100%);
}

#slidebbb3:checked ~ .slides {
    transform: translateX(-200%);
}
#slidebbb4:checked ~ .slides {
    transform: translateX(-200%);
}





#slideaa1:checked ~ .slides {
    transform: translateX(0);
}

#slideaa2:checked ~ .slides {
    transform: translateX(-100%);
}

#slideaa3:checked ~ .slides {
    transform: translateX(-200%);
}

#slideaa4:checked ~ .slides {
    transform: translateX(-300%);
}

#slideaa5:checked ~ .slides {
    transform: translateX(-400%);
}

#slideaa6:checked ~ .slides {
    transform: translateX(-500%);
}

#slideaa7:checked ~ .slides {
    transform: translateX(-600%);
}

#slideaa8:checked ~ .slides {
    transform: translateX(-700%);
}

#slideaa9:checked ~ .slides {
    transform: translateX(-800%);
}

#slideaa10:checked ~ .slides {
    transform: translateX(-900%);
}

#slideaa11:checked ~ .slides {
    transform: translateX(-1000%);
}

#slideaa12:checked ~ .slides {
    transform: translateX(-1100%);
}

#slideaa13:checked ~ .slides {
    transform: translateX(-1200%);
}

#slideaa14:checked ~ .slides {
    transform: translateX(-1300%);
}

#slideaa15:checked ~ .slides {
    transform: translateX(-1400%);
}

#slideaa16:checked ~ .slides {
    transform: translateX(-1500%);
}

#slideaa17:checked ~ .slides {
    transform: translateX(-1600%);
}

#slideaa18:checked ~ .slides {
    transform: translateX(-1700%);
}

#slideaa19:checked ~ .slides {
    transform: translateX(-1800%);
}

#slideaa20:checked ~ .slides {
    transform: translateX(-1900%);
}

#slideaa21:checked ~ .slides {
    transform: translateX(-2000%);
}

#slideaa22:checked ~ .slides {
    transform: translateX(-2100%);
}

#slideaa23:checked ~ .slides {
    transform: translateX(-2200%);
}



.nav {
    text-align: center;
    padding: 10px 0;
}

.nav-dot {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px 5px;
    border-radius: 50%;
    background: #3cc39d;
}

input[type="radio"]:checked + .nav-dot {
    background: #007bff; /* Active color */
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 79% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
#ucin .modal-body{
    height: calc(100vh - 226px);
    overflow: auto;
}
#uccom .modal-body{
    height: calc(100vh - 226px);
    overflow: auto;
}
#demo1 .modal-body{
    height: calc(100vh - 226px);
    overflow: auto;
}
#demo2 .modal-body{
    height: calc(100vh - 226px);
    overflow: auto;
}

#demo3 .modal-body{
    height: calc(100vh - 226px);
    overflow: auto;
}

#admin1 .modal-body{
    height: calc(100vh - 226px);
    overflow: auto;
}
.checkit{
    font-size: 22px;
}
.checkit a{
    color: #14b789;
}
